

// build:js {{ STATIC_URL }}frontend/scripts/main.js
// bower:js
script(src='/static/frontend/vendor/angular/angular.js')
script(src='/static/frontend/vendor/angular-cookies/angular-cookies.js')
script(src='/static/frontend/vendor/jquery/dist/jquery.js')
script(src='/static/frontend/vendor/modernizr/modernizr.js')
script(src='/static/frontend/vendor/fastclick/lib/fastclick.js')
script(src='/static/frontend/vendor/jquery.cookie/jquery.cookie.js')
script(src='/static/frontend/vendor/jquery-placeholder/jquery.placeholder.js')
script(src='/static/frontend/vendor/foundation/js/foundation.js')
// endbower
// endbuild


