

// build:js {{ STATIC_URL }}frontend/scripts/main.js
// bower:js
script(src='/static/frontend/vendor/angular/angular.js')
script(src='/static/frontend/vendor/angular-cookies/angular-cookies.js')
// endbower
// endbuild
script(src='/static/frontend/scripts/main.js')

